In [1]:
import pandas as pd

In [6]:
s = pd.read_csv('Annual_survey.csv')
s.head(5)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021.0,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021.0,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...

In [7]:
s.Year  #the output is a series

0        2021.0
1        2021.0
2        2021.0
3        2021.0
4        2021.0
          ...
41704       NaN
41705       NaN
41706       NaN
41707       NaN
41708       NaN
Name: Year, Length: 41709, dtype: float64

In [8]:
#s.columnName # this doesnot work when name have spaces

In [11]:
#recommended
s["Year"]

0        2021.0
1        2021.0
2        2021.0
3        2021.0
4        2021.0
          ...
41704       NaN
41705       NaN
41706       NaN
41707       NaN
41708       NaN
Name: Year, Length: 41709, dtype: float64

In [12]:
s['Units']

0        Dollars (millions)
1        Dollars (millions)
2        Dollars (millions)
3        Dollars (millions)
4        Dollars (millions)
                ...
41704                   NaN
41705                   NaN
41706                   NaN
41707                   NaN
41708                   NaN
Name: Units, Length: 41709, dtype: object

In [13]:
s['Units'].head(7)

0    Dollars (millions)
1    Dollars (millions)
2    Dollars (millions)
3    Dollars (millions)
4    Dollars (millions)
5    Dollars (millions)
6    Dollars (millions)
Name: Units, dtype: object

In [14]:
s['Units'].head(7).values

array(['Dollars (millions)', 'Dollars (millions)', 'Dollars (millions)',
       'Dollars (millions)', 'Dollars (millions)', 'Dollars (millions)',
       'Dollars (millions)'], dtype=object)