In [3]:
import pandas as pd
a = pd.read_csv('Annual_Survey.csv')
a

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021.0,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021.0,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
a.head()#gives top 5
a.head(n =3)#gives top 3
a.head(8)#gives top 8

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021.0,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...

In [10]:
a.tail()#gives last 5
a.tail(n =3)#gives last 3
a.tail(8)#gives last 8

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
41701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
s.index#find the index of series

RangeIndex(start=0, stop=5, step=1)

In [12]:
a.index#find the index of data frame

RangeIndex(start=0, stop=41709, step=1)

In [13]:
s.values

array([1, 2, 3, 4, 5], dtype=int64)

In [15]:
a.values

array([[2021.0, 'Level 1', 99999.0, ..., 'Financial performance',
        '7,57,504',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021.0, 'Level 1', 99999.0, ..., 'Financial performance',
        '6,74,890',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021.0, 'Level 1', 99999.0, ..., 'Financial performance',
        '49,593',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [16]:
s.shape #gives number of rows, number of columns

(5,)

In [17]:
a.shape #gives number of rows, number of columns

(41709, 10)

In [21]:
s.dtypes #data type

dtype('int64')

In [22]:
a.dtypes#data types of respective columns

Year                           float64
Industry_aggregation_NZSIOC     object
Industry_code_NZSIOC           float64
Industry_name_NZSIOC            object
Units                           object
Variable_code                   object
Variable_name                   object
Variable_category               object
Value                           object
Industry_code_ANZSIC06          object
dtype: object

In [23]:
s.hasnans
#a.hasnans ---gives error

False

In [25]:
a.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')