In [1]:
import pandas as pd

In [8]:
a = pd.read_csv('snakes_count_10.csv')
a

   Game Number   "Game Length"  Count  Dare
0            1              30      3     1
1            2              29   4324     0
2            3              31   4234     0
3            4              16     43     1
4            5              24     34     0
5            6              29     43     1
6            7              28     43     0
7            8             117     43     1
8            9              42      4     0
9           10              23     34     0

In [9]:
#set a column as index

In [10]:
a = pd.read_csv('snakes_count_10.csv',index_col = 'Game Number')
a

              "Game Length"  Count  Dare
Game Number
1                        30      3     1
2                        29   4324     0
3                        31   4234     0
4                        16     43     1
5                        24     34     0
6                        29     43     1
7                        28     43     0
8                       117     43     1
9                        42      4     0
10                       23     34     0

In [13]:
s = pd.Series([1,2,3])
s.sum()

6

In [14]:
a.sum()#sum of all columns

 "Game Length"     369
Count             8805
Dare                 4
dtype: int64

In [15]:
a.sum(axis = 'columns') #sum of rows

Game Number
1       34
2     4353
3     4265
4       60
5       58
6       73
7       71
8      161
9       46
10      57
dtype: int64

In [17]:
a.sum(axis = 1)  #sum of rows

Game Number
1       34
2     4353
3     4265
4       60
5       58
6       73
7       71
8      161
9       46
10      57
dtype: int64

In [18]:
a.sum(axis = 'index')  #sum based on the index

 "Game Length"     369
Count             8805
Dare                 4
dtype: int64

In [19]:
a.sum(axis = 0)  #sum of rows

 "Game Length"     369
Count             8805
Dare                 4
dtype: int64